# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: test example notebooks

on:
  push:
    branches:
      - main
      - examples
  pull_request:
    branches:
      - main
      - examples

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.12
      uses: actions/setup-python@v2
      with:
        python-version: "3.12"
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest coverage pytest-xdist nbmake pytest-cov
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install .
        python -m ipykernel install --user --name ringdown
    - name: Test examples
      run: |
        # test notebooks
        pytest -n=auto --nbmake "docs/examples"
